@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');
*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height:100vh;
    width:100%;
}

.top{
    display: flex;
    width: 100%;
    background: #f56324;
    height:2.5vh;
    color:white;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    font-family: 'Lato', sans-serif;
}

.navbar{
    width:100%;
    display:flex;
    background-color: #f9a58b;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    padding:0.5rem 1rem; 

}

.logo{
    display: flex;
    align-self: start;
    background-color: #f9a58b;
}

.logo img{
    width: 5rem;
    border-radius: 50%;
}

.wrap{
    display: flex;
    gap:0.5%;
    align-items: center;
    cursor: pointer;
}

.wrap a{
    color:black;
    padding:0.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
}

.wrap a:hover{
    border-bottom: 0.0625rem solid #000;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    transition:all 1s ease-in;
}

.wrap a.none{
    border: none;
}

.content{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
}

.left{
    display: flex;
    flex: 60%;
    background-color: #f9a58b;
    flex-direction: column;
    justify-content:center;
    min-height: 50vh;
}

.heading
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4.5625rem;
}

.heading h1{
    color: #f56133;
    font-size: 4rem;
    font-weight: 650;
    font-family: 'Lato', sans-serif;
}

.para{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0%;
    padding-top: 0%;
    padding-bottom: 1rem;
}

.para p{
    font-size:1.5rem;
    font-weight: 400;
    text-transform: lowercase;
    font-family: 'Lato', sans-serif;
}

.but{
    display: flex;
    justify-content:center;
    align-self: stretch;
    background-color: white;
    height:auto;
    padding-top: 1.875rem;
    padding-bottom: 6.625rem;
}

.but button{
    padding:0.3125rem 0.625rem;
    border-radius: 0.5rem;
    background-color: rgba(245,97,51,1);
    font-size: 1rem;
    color: white;
    font-family: 'Lato', sans-serif;
    outline:none;
    border:none;
    
}


.right{
    display:flex;
    flex:40%;
    background-color: #fff;
    justify-content: flex-end;
    min-height: 50vh;
}

 .right img{
    height:auto;
    width:44vw;
} 

@media only screen and (max-width: 572px){
    /* body{
        width:100%;
        height:100vh;
    } */
    .wrap{
        display: none;
    }
    .heading h1{
        font-size: 2.2rem;
    }
    .para p{
        font-size: 0.8rem;
    }
    .content{
        display: block;
        width: 100%;
    }
    .right img{
        padding-top: 0%;
        width:100%;
    }
    /* .but{
        padding-top: 0.5rem;
        padding-bottom: 3.5rem;
    } */
}